body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #00fff2;
}

header {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #f2ff00;
}
